{% extends 'base.html' %}
{% block content %}
<!--This is a comment-->

<center>
    <h2>Search for a particular user's notes:</h2>
    </center>
<br>
<center>
<form action="/searchresult" method="get" target="_self" class="form-inline">
  <div class="form-group mx-sm-3 mb-2">

    <select name="searchterm" multiple>
{% for i in unames %}
  <option value="{{i.username}}">{{i.username}}</option>
 {% endfor %}  
</select>
</div>
  <input class="btn btn-primary mb-2" type="submit" value="Submit">
</form>
    
</center>

<br>
<hr>
{%  endblock %}